<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Code Checker</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/monokai.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_code.css') }}">
    <link rel="stylesheet" type="text/css"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
                <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

</head>

<body>
    <div class="container">
        <div class="editor-container">
            <h1><a href="/">C++ Code Checker</a></h1>
            <div style="margin-bottom: 15px;">
                <a href="{{ url_for('index') }}">
                    <button class="button level-button" id="home-btn"><i class="fa fa-home"></i>
                        Home</button>
                </a>
            </div>
            <div class="editor-header">
                <div class="editor-title">Code Editor</div>
                <div class="button-container">
                    <button class="button" id="check-errors">
                        <i class="fa fa-check"></i> CHECK ERRORS
                    </button>
                </div>
            </div>
            <textarea id="code-editor">
// Enter your C++ code here
cout<<"Hello" //No semicolon
            </textarea>
        </div>

        <div class="output-container">
            <div class="output-header">
                <div class="output-title">Output</div>
                <div class="tabs">
                    <div class="tab active" data-tab="errors">Errors</div>
                </div>
            </div>
            <div class="tab-content active" id="errors-content">
                <div id="errors-output" class="output-text">Errors will appear here...</div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="{{ url_for('static', filename='script_code_cpp.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/clike/clike.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>

</html>